.header-title {
    font-family: 'Cardo', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.users-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-box {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.user-box .name {
    color: #000;
    font-size: 20px;
}
